<%= render 'layouts/welcome' %>

<section class="form">
  <h1>Log in</h1>

  <ul class="errors">
  <% flash[:errors].try(:each) do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <form action="<%= session_url %>" method="post">
    <%= hidden_auth_token %>

    <label for="user_email">Your email address</label>
    <input id="user_email" type="text" name="user[email]" value="<%= @user.email %>" autofocus>

    <label for="user_password">Your password</label>
    <input id="user_password" type="password" name="user[password]">

    <button>Log in!</button>
  </form>

  <form action="<%= session_url %>" method="post">
    <%= hidden_auth_token %>

    <input type="hidden" name="user[email]" value="edmund@edmund.io">
    <input type="hidden" name="user[password]" value="password">

    <button>Demo log in</button>
  </form>

  <a href="<%= new_user_url %>">No account? Sign up.</a>
  <a href="/auth/facebook">Or log in with Facebook</a>
</section>
