<!DOCTYPE html>
<html>
<head>
  <title>GoogleSheetsClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <%= current_user.name %>
  <form action="<%= session_url %>" method="post">
    <%= hidden_auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button>Log out</button>
  </form>
<% else %>
  <a href="<%= new_session_url %>">Log in</a>
  <a href="<%= new_user_url %>">Sign up</a>
<% end %>

<%= flash[:notice] %>

<%= yield %>

</body>
</html>
